<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">{{{ t 'test' }}} Stacked modals with Backbone.Marionette</h3>
</div>
<div class="bbm-modal__section">
  <p>Go ahead and open the <a href="#" class="open-2">second modal</a>.</p>
</div>
<div class="bbm-modal__bottombar">
  <button class="action-destroy btn btn-warning pull-left">
    <div class="shortcut-helper-wrapper char-C">
      <span>C</span>
    </div>
    <i class="fa fa-fw fa-arrow-circle-down"></i>&nbsp; {{{ t 'a-close' }}}
  </button>
  <button class="action-save btn btn-primary">
    <div class="shortcut-helper-wrapper char-S">
      <span>S</span>
    </div>
    <i class="fa fa-fw fa-save non-waiter"></i><i class="fa fa-fw fa-spin fa-circle-o-notch waiter"></i>&nbsp; {{{ t 'a-save' }}}
  </button>
</div>