<body>
  <script>
    const ENV = {{{ ENV }}};
  </script>
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/app.js"></script>
  {{#each modulesJS}}
  <script src="/assets/js/modules/{{this}}"></script>
  {{/each}}
</body>
