<head>
  <title>front-master</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" href="/favicon.ico" />

  <!-- static css -->
  <link href="/assets/css/vendor.css" rel="stylesheet" />
  <link href="/assets/css/plugins.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- -->

  <!-- more dynamic css, per app and per modules -->
  <link href="/assets/css/app.css" rel="stylesheet" />
  {{#each modulesCSS}}
  <link href="/assets/css/modules/{{this}}" />
  {{/each}}
  <!-- -->
</head>
